[submodule "fileview-frontend"]
	path = fileview-frontend
	url = git@github.com:J1angyue/fileview-frontend.git
	branch = main
[submodule "fileview-backend"]
	path = fileview-backend
	url = git@github.com:J1angyue/fileview-backend.git
	branch = main
